html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased ;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  overflow: hidden;
}

.forget-password{
  margin: 5px auto;
}

/* navbar */
.navbar a{
  color: white;
}
.main-navbar img{
  margin-left: 10px;
  height: 40px;
}
.main-navbar li{
  font-size: 17px;
}
.main-navbar .signout-btn{
  margin-left: 5px;
  margin-top: 3px;
}

/* signin */
.sign-in{
  margin-bottom: 300px;
  margin-left: auto;
  color: black;
  text-align: center;
}
.sign-in h1{
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 30px;
}
.sign-in .tbox input{
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  line-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

}
.sign-in .tbox{
  height: 40px;
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 7px auto;
}
.sign-in-btn {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.forget-password-link{
  padding: 10px 0;
  text-decoration: none;
  margin: 15px auto;
}
.sign-in-alert {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
}

/* signup */
.sign-up{
  margin-bottom: 300px;
  margin-left: auto;
  color: black;
  text-align: center;
}
.sign-up h1{
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 30px;
}
.sign-up .tbox input{
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  line-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

}
.sign-up .tbox{
  height: 40px;
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 7px auto;
}
.sign-up-btn {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 15px auto;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.sign-up-alert {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
}
.align-right ul{
  float: right;
}

/* home */
.home-content img{
  width: 100%;
}

/* Sidebar */
.sidebar .row button{
  width: 100%;
}

/* Promo */
#promo{
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./assets/img/slide2.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 55px;
}
#promo button{
  height: 40px;
  width: 100px;
  border: none;
  background-color: #000e71;
}
#promo button:hover{
  height: 40px;
  width: 100px;
  border: #333;
  background-color: #000738;
}

/* aboutkaist */
.about-kaist{
  margin: 50px auto;
  text-align: center;
}
.about-kaist .venue{
  margin-top: 30px;
  margin-bottom: 50px;
}
.venue h3::after{
  content: '';
  background: #2c3e50;
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.kaist-slider{
  margin: 20px auto;
}

/* footer */
#footer{
  background: #333;
  color: #fff;
  padding: 12px;
}
#footer p{
  margin-bottom: 3px;
}
#footer .contact-info a{
  color: white;
  font-size: 18px;
}

/* icists2019 */
#icists-2019{
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  text-align: center;
  padding: 60px;
}
#icists-2019 h2{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
}
#icists-2019 img{
  width: 80%;
  margin-top: 30px;
}
#icists-2019 h4{
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 28px;
}
#icists-2019 p{
  text-align: justify;
  margin: 40px auto;
  font-size: 15px;
  line-height: 30px; 
}
#icists-2019 .poster{
  margin-bottom: 150px;
}

/* moreinfo */
.more-info{
  text-align: center;
  margin: 50px auto;
}
.more-info img{
  width: 100%;
  margin: 30px auto;
}
.more-info h1{
  font-size: 40px;
}
.more-info h2::after{
  content: '';
  background: #2c3e50;
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* sessions */
#sessions{
  text-align: center;
  margin: 300px auto;
}
#sessions h1{
  font-size: 55px;
}

/* application */
.application{
  margin: 30px auto;
}
.application h1{
  margin-bottom: 10px;
}
.application h1::after{
  content: '';
  background: #2c3e50;
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.app-name{
  margin-top: 20px;
}
.app-name h3{
  margin: 20px auto;
}
.app-sex-age{
  margin-top: 10px;
}
.app-nsm{
  margin-top: 10px;
  margin-bottom: 20px
}
.app-group{
  margin: 20px auto;
}
.app-group h3{
  margin: 20px auto;
}
.app-contact{
  margin: 20px auto;
}
.app-contact h3{
  margin: 20px auto;
}

.app-contact p{
  padding: 8px;
}
.app-as{
  margin: 20px auto;
}
.app-as h3{
  margin: 20px auto;
}
.app-as .row{
  margin: 10px auto;
}
.app-payment{
  margin: 30px auto;
}
.app-payment h3{
  margin: 20px auto;
}
.app-essay{
  margin: 30px auto;
}
.app-essay h3{
  margin-bottom: 20px;
}
.app-channel{
  margin: 40px auto;
}
.app-notice{
  margin: 30px auto;
  font-size: 20px;
}
.app-save{
  margin: 30px auto;
  font-size: 20px;
  margin-bottom: 120px;
}
.app-alert{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.app-essay h5{
  padding-bottom: 10px;
}
.app-essay-word-count {
  text-align: center;
  padding-top: 10px;
}
.application input{
  width: 100%;
  background: none;
  /* border: none; */
  outline: none;
  text-align: center;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.application .tbox{
  height: 40px;
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 7px auto;
}

.application label{
  padding: 6px;
}

/* account */
.account{
  margin: 30px auto;
  margin-bottom: 300px;
}
.account h1::after{
  content: '';
  background: #2c3e50;
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.account h3{
  margin: 10px auto;
}
.account-alert{
  width: 90%;
  margin: 0px auto;
  margin-top: 60px;
  text-align: center;
}

/* passwordchange */
.password-change{
  margin-bottom: 300px;
  margin-left: auto;
  color: black;
  text-align: center;
}
.password-change h2{
  font-size: 30px;
  margin-top: 125px;
  margin-bottom: 30px;
}
.password-change .tbox input{
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  line-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

}
.password-change {
  margin-top: 40px;
}
.password-change .tbox{
  height: 40px;
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 7px auto;
}
.password-change-btn {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

/* passwordforget */
.password-forget{
  margin-bottom: 300px;
  margin-left: auto;
  color: black;
  text-align: center;
}
.password-forget h1{
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 30px;
}
.password-forget .tbox input{
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  line-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

}
.password-forget .tbox{
  height: 40px;
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 7px auto;
}
.password-forget-btn {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 15px auto;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.password-forget-alert {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
}

/* email-verify */
.email-verify{
  margin-top: 200px;
  margin-bottom: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  color: black;
  text-align: center;
}
.email-verify p{
  font-size: 15px;
  /* margin-top: 125px; */
  margin-bottom: 30px;
}
.email-verify-btn {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 15px auto;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

/* event */
.event{
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 300px;
}

.event-info{
  padding: 30px;
  margin-bottom: 30px;
}

.event-how-to-apply p{
  font-size: 15px;
  margin: 30px auto;
}

.event-brief {
  line-height: 200%;
}

.event-brief h2 {
  padding-top: 30px;
} 

.event-how-to-apply {
  line-height: 200%;
  margin: 30px auto;
}

.event-speakers img{
  padding:15px;
}
.event-speakers h2{
  padding-top: 30px;
}
.event-sponsors h2{
  padding-top: 30px;
}
.event-schedule h2{
  padding-top: 30px;
}

.icists-2018-image {
  padding: 30px;
}

.event-schedule p{
  padding: 15px;
  font-size: 18px;
}

/* abouticists */
#about-icists{
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  text-align: center;
  padding: 60px;
}
#about-icists h2{
  margin-bottom: 50px;
}

/* icistsposter */
#icists-poster{
  margin: 80px auto;
  text-align: center;
}
#icists-poster h2{
  font-size: 40px;
}
#icists-poster h2::after{
  content: '';
  background: #2c3e50;
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
#icists-poster img{
  margin-top: 30px;
  width: 100%;
}

/* cupevent */
#cup-event{
  width: 100%;
  /* background : rgb(161,216,247); */
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  text-align: center;
}
#cup-event h1{
  margin-bottom: 50px;
  font-size: 48px;
}
