html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

  -webkit-font-smoothing: antialiased ;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  overflow: hidden;
}

.forget-password{
  margin: 5px auto;
}

/* navbar */
.navbar{
  /* background-color: #000738; */
}
.navbar a{
  color: white;
}

/* signin */
.sign-in{
  margin-bottom: 300px;
  margin-left: auto;
  color: black;
  text-align: center;
}
.sign-in h1{
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 30px;
}
.sign-in .tbox input{
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  line-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

}
.sign-in .tbox{
  height: 40px;
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 7px auto;
}
.sign-in-btn {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.forget-password-link{
  padding: 10px 0;
  text-decoration: none;
  margin: 15px auto;
}
.sign-in-alert {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
}

/* signup */
.sign-up{
  margin-bottom: 300px;
  margin-left: auto;
  color: black;
  text-align: center;
}
.sign-up h1{
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 30px;
}
.sign-up .tbox input{
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  line-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

}
.sign-up .tbox{
  height: 40px;
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 7px auto;
}
.sign-up-btn {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 15px auto;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.sign-up-alert {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
}
.align-right ul{
  float: right;
}

/* home */
.home-content img{
  width: 100%;
}

/* Sidebar */
.sidebar .row button{
  width: 100%;
}

/* Promo */
#promo{
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./assets/img/slide2.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  font-family: sans-serif;
  font-size: 55px;
}
#promo button{
  height: 40px;
  width: 100px;
  border: none;
  background-color: #000e71;
}
#promo button:hover{
  height: 40px;
  width: 100px;
  border: #333;
  background-color: #000738;
}

/* aboutkaist */
.about-kaist{
  margin: 50px auto;
  text-align: center;
}
.about-kaist .venue{
  margin-top: 30px;
  margin-bottom: 50px;
}
.venue h3::after{
  content: '';
  background: #2c3e50;
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.kaist-slider{
  margin: 20px auto;
}

/* footer */
#footer{
  background: #333;
  color: #fff;
  padding: 12px;
}
#footer p{
  margin-bottom: 3px;
}
.fa-heart{
  margin: 3px;
  color: red;
}


/* icists2019 */
#icists-2019{
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  text-align: center;
  padding: 30px;
}
#icists-2019 h2{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
}
#icists-2019 img{
  width: 80%;
  margin: 30px auto;
}
#icists-2019 h4{
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 28px;
}
#icists-2019 p{
  text-align: justify;
  margin: 20px auto;
  font-size: 15px;
  line-height: 30px; 
}

/* moreinfo */
.more-info{
  text-align: center;
  margin: 50px auto;
}
.more-info img{
  width: 100%;
  margin: 30px auto;
}
.more-info h2::after{
  content: '';
  background: #2c3e50;
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* sessions */
#sessions{
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  text-align: center;
  padding: 100px;
}

/* application */
.application{
  margin: 30px auto;
}
.application h1{
  margin-bottom: 10px;
}
.application h1::after{
  content: '';
  background: #2c3e50;
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.app-name{
  margin-top: 20px;
}
.app-name h3{
  margin: 20px auto;
}
.app-sex-age{
  margin-top: 10px;
}
.app-nsm{
  margin-top: 10px;
  margin-bottom: 20px
}
.app-group{
  margin: 20px auto;
}
.app-group h3{
  margin: 20px auto;
}
.app-contact{
  margin: 20px auto;
}
.app-contact h3{
  margin: 20px auto;
}
.app-as{
  margin: 20px auto;
}
.app-as h3{
  margin: 20px auto;
}
.app-as .row{
  margin: 10px auto;
}
.app-payment{
  margin: 30px auto;
}
.app-payment h3{
  margin: 20px auto;
}
.app-essay{
  margin: 30px auto;
}
.app-essay h3{
  margin-bottom: 20px;
}
.app-channel{
  margin: 40px auto;
}
.app-save{
  margin-bottom: 300px;
}
.application input{
  width: 100%;
  background: none;
  /* border: none; */
  outline: none;
  text-align: center;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.application .tbox{
  height: 40px;
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 7px auto;
}

/* account */
.account{
  margin: 30px auto;
  margin-bottom: 300px;
}
.account h1::after{
  content: '';
  background: #2c3e50;
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.account h3{
  margin-bottom: 20px;
}

/* passwordchange */
.password-change{
  margin-bottom: 300px;
  margin-left: auto;
  color: black;
  text-align: center;
}
.password-change h2{
  font-size: 30px;
  margin-top: 125px;
  margin-bottom: 30px;
}
.password-change .tbox input{
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  line-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

}
.password-change {
  margin-top: 40px;
}
.password-change .tbox{
  height: 40px;
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 7px auto;
}
.password-change-btn {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

/* passwordforget */
.password-forget{
  margin-bottom: 300px;
  margin-left: auto;
  color: black;
  text-align: center;
}
.password-forget h1{
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 30px;
}
.password-forget .tbox input{
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  line-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

}
.password-forget .tbox{
  height: 40px;
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 7px auto;
}
.password-forget-btn {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 15px auto;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.password-forget-alert {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
}

/* email-verify */
.email-verify{
 margin-bottom: 300px;
  margin-left: auto;
  color: black;
  text-align: center;
}
.email-verify p{
  font-size: 15px;
  margin-top: 125px;
  margin-bottom: 30px;
}
.email-verify-btn {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 15px auto;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}